<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Remote Hire</h2>
        <div class="d-flex">
            <button class="btn btn-success">Home</button>&nbsp;
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Applied Jobs</button>&nbsp;
            <button class="btn btn-success">Result</button>&nbsp;
            <button class="btn btn-danger">logout</button>
        </div>
    </div>
</nav>
<!--Table shown here-->
<table class="table mt-10">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Job Title</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>F34E-RSTI-OPQS</td>
            <td>Admin</td>
            <td>10-02-2021</td>
        </tr>
    </tbody>
</table>
<!--cards are here-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="cards shadow-lg">
                <div class="text-centre">
                    <h1>Admin</h1>
                    <p>Mr.XYZ</p>
                    <p>3-5 years</p>
                    <p>3 LPA</p>
                    <p>10-02-2021</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, nostrum.</p>
                    <button class="btn btn-danger">Approve</button>&nbsp;
                    <button class="btn btn-danger">Reject</button>&nbsp;
                    <button class="btn btn-danger">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
